.graph{
  margin: 50px 50px;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.layer{
  margin: 20px;
  height:100px;
  width:100px;
  background-color: #343434;
  color: #e4e4e4;
  border-radius:50px;
  transition: all .2s ease-in-out;
  text-align: center;
  cursor: pointer;
  line-height: 100px;
}

.subLayer{
  margin: auto;
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background-color: #030104;
  z-index: 2;
}

.layer:hover {
  transform: scale(1.2);
}
