.imageForm{
}

.scoreboard{
  width: 250px;
  margin: auto;
  margin-top: 10px;
}

.activations{
  transition: all .2s ease-in-out;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.activation{
  padding: 20px;
}
